* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", serif;
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2022/07/13/06/54/workout-7318688_960_720.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
header,
main {
  margin: 0 5vw;
}
.background-cover {
  background-color: #00000060;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
}
#logo {
  width: 150px;
  background-color: #ffffff20;
  border-radius: 20px;
}
nav {
  margin-top: 20px;
}
.nav-bar ul {
  background-color: #000000a0;
  padding: 15px;
  border-radius: 40px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 40vw;
}
li a {
  padding-right: 10px;
  color: azure;
  text-decoration: none;
}
.nav-bar ul li a:hover {
  cursor: pointer;
  color: #bfe866;
}

.active {
  color: #bfe866;
}

header nav {
  display: flex;
  justify-content: space-between;
}
main {
  margin-top: 20vh;
  display: flex;
  justify-content: space-between;
}
.icon-wrapper {
  display: flex;
  height: 40px;
  align-items: center;
}
.rounded {
  background-color: #ffffffe0;
  border-radius: 20px;
  height: 40px;
}
.rounded p {
  height: 40px;
  margin: 10px;
  color: green;
}
.rounded img {
  width: 40px;
}
.text {
  margin-top: 15px;
  max-width: 100%;
  color: azure;
}
.text h2 {
  font-size: 5rem;
}
.text p {
  font-size: 1.2rem;
  margin-top: 20px;
}
.book-btn {
  margin-top: 20px;
  padding: 20px;
  background-color: #bfe866;
  border: none;
  border-radius: 30px;
  color: darkgreen;
  font-size: 1.1rem;
  font-weight: 600;
}
.book-btn:hover {
  background-color: burlywood;
  cursor: pointer;
}
.left {
  height: 40vh;
  width: 35 vw;
}
.right {
  height: 60vh;
  width: 20vw;
  background-color: #000000a0;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.right * {
  margin: 0 10%;
}
.right h2 {
  font-size: 3rem;
  color: #bfe866;
}
.quote-txt {
  color: azure;
  font-size: 1.2rem;
}
.quote-author {
  margin-top: 20px;
  color: lightgray;
}
